*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: #2a3b50;
  color: #f8f1ff;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.btn {
  /* background-color: #f53900; */
  color: #f8f1ff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.light-svg {
  filter: invert(89%) sepia(14%) saturate(673%) hue-rotate(202deg) brightness(104%) contrast(106%);
}

.accent-svg {
  filter: invert(26%) sepia(55%) saturate(4190%) hue-rotate(8deg) brightness(99%) contrast(107%);
}

.main-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  margin: 0 0 50px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 8px;
  background-color: #f8f1ff;
  color: #2a3b50;
}

.control-button {
  margin: 20px 10px 30px;
  width: 30px;
  height: 30px;
}

.control-button:focus {
  outline: none;
}

.control-icon {
  width: 30px;
}

.slider {
  width: 200px;
}

.slider-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider-title {
  display: flex;
  margin-bottom: 10px;
}

.slider-value {
  width: 30px;
  margin-left: 5px;
  text-align: left;
}
